.DS_Store
node_modules
/.svelte-kit
/build
/functions
/desktop.ini
/static
/src/lib/assets/git
/src/lib/assets/img
/src/lib/assets/slide/img(3).jpg
/src/lib/assets/slide/img(5).jpg
/src/lib/assets/slide/img(6).jpg

/src/lib/assets/video
